{{ form.value | json }}
<form #form="ngForm" novalidate>
    <label>
      Name:
      <input 
      [ngModel]="detail?.name" 
      name="name" 
      type="text" 
      />
    </label>
    <label>
      Id:
      <input 
      [ngModel]="detail?.id" 
      name="id" 
      type="number" 
      />
    </label>
    <label>
      Complete
      <input 
        [ngModel]="detail?.isDone" 
        (ngModelChange)="toggleChange($event)"
        name="isDone" 
        type="checkbox" 
      />
    </label>
    {{ detail | json }}
  </form>
  