<!-- {{ form.value | json }} -->
<form #form="ngForm" novalidate class="form">
    <label class="form__label">
      <span class="form__text">Title:</span>
      <input 
        [ngModel]="detail?.name" 
        #name="ngModel"
        class="form__input"
        name="name" 
        type="text" 
        required
      />
      <div 
        *ngIf="name.errors?.required "
        class="form__error"
      >
        Please enter task title
      </div>
    </label>
    <label class="form__label">
      <span class="form__text">Id:</span>
      <input 
        #id="ngModel"
        [ngModel]="detail?.id" 
        class="form__input"
        name="id" 
        type="number" 
        required
      />
      <div 
        *ngIf="name.errors?.required "
        class="form__error"
      >
        Please enter task id
      </div>
    </label>
    <label class="form__label">
      <span class="form__text">Complete</span>
      <input 
        #status="ngModel"
        [ngModel]="detail?.isDone" 
        class="form__input"
        (ngModelChange)="toggleChange($event)"
        name="status" 
        type="checkbox" 
      />
    </label>
    <!-- {{ detail | json }} -->
    <div>Is form valid: {{form.valid}}</div>
  </form>
  