.header {
  margin: 20px 0;
  background-color: #222;
  border-radius: 20px;
  padding: 20px;

  &__text {
    text-align: center;
    margin-bottom: 20px;
  }

  &__controls {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
  }
}
