.header {
  margin: 20px 0;
  background-color: #222;
  border-radius: 20px;
  padding: 20px;

  &__title {
    text-align: center;
    margin-bottom: 15px;
  }

  &__text {
    font-size: 12px;
    opacity: 0.3;
    text-align: center;
    margin-bottom: 2px;
  }

  &__controls {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
  }
}
