.task {
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
  gap: 25px;

  &__body {
    position: relative;
  }

  &__name {
    display: inline-block;
    margin-bottom: 5px;
  }

  &__description {
    margin-left: 50px;
    opacity: 0.8;
  }

  &__status {
    margin-right: 10px;
  }

  &__date {
    position: absolute;
    opacity: 0.5;
    text-align: right;
    top: calc(100% + 5px);
    right: 25px;
  }

  &__edit {
    background: none;
    border: none;
    color: #eee;
    font-size: 18.72px;
    font-weight: 700;
    margin-bottom: 8px;
    width: 60%;
    &:focus {
      outline: 1px solid rgba(238, 238, 238, 0.5);
    }
  }

  &__controls {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
}
