<li class="task">
  <div class="task__body">
    <span class="task__status">
      {{ task?.isDone ? '✅' : '❌' }}
    </span>

    <h3 (click)="toggleEdit()" class="task__name">
      {{ index }}.

      <span *ngIf="!editMode">
        {{ task?.name }}
      </span>
    </h3>

    <input
      *ngIf="editMode"
      (blur)="onRename($event)"
      [value]="task?.name"
      class="task__edit task__edit--name"
      #inputField
    />

    <p class="task__description">
      {{ task?.description }}
    </p>

    <p class="task__code">
      <!-- data pipe -->
      {{ task | json }}
    </p>

    <h5 class="task__date">
      {{ task?.date }}
    </h5>
  </div>

  <div class="task__controls">
    <app-button
      (btnClick)="onStatusChange()"
      text="{{ task.isDone ? 'Undo' : 'Complete' }}"
      color="#d1a52c"
    ></app-button>

    <app-button
      (btnClick)="onRemove()"
      text="Delete"
      color="#b91d1d"
    ></app-button>
  </div>
</li>
